body {
    margin: 0;
}

.wrap {
    margin: 0 auto;
    width: 90vw;
    height: 1300px;
    display: flex;
    flex-wrap: wrap;
}

.color {
    background-color: silver;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    border: solid 10px black;
    box-sizing: border-box;
}

.first {
    height: 10%;
    width: 100%;
}

.second {
    width: 20%;
    height: 100%;
}

.small_container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    flex-direction: row;
}

.third {
    height: 20%;
    width: 100%;
}

.fourth {
    height: 10%;
    width: 100%;
}

.fifth {
    height: 60%;
    width: 80%;
}

.sixth {
    height: 60%;
    width: 20%;
}

.seventh {
    height: 10%;
    width: 100%;
}


@media screen and (max-width: 1200px) and (min-width: 700px) {


    .second{
        position: absolute;
    }
}