body {
    margin: 0;
}

.wrap {
    margin: auto;
    width: 80vw;
    height: 90vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    padding: 7px 7px;
}

.color {
    display: flex;
    justify-content: center;
    background-color: #3c4044;
    color: #fff;
    align-items: center;
    font-size: 30px;
    border-radius: 1px;

}

.first {
    width: 100%;
    height: 15%;
    display: flex;
    gap: 0.8vw;

}

.h20 {
    height: 20%;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 24%;
}

.w75 {
    width: 75%;
}

.h12 {
    height: 12%;
}

.h75 {
    height: 74%;
}

.h50 {
    height: 50%;
}

.h25 {
    height: 24%;
}

.w48 {
    width: 48%;
}

.second {
    width: 100%;
    height: 65%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 0.8vw;
}

.xxx {
    height: 100%;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    /*margin-left: 0.5%;*/
}

.small_container {
    width: 24%;
    height: 25%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 2%;
    margin-bottom: 0.2%;

}


.footer {
    margin-top: 0.6vw;
    height: 20%;
}


@media screen and (min-width: 100px) and (max-width: 900px) {
    .first{
        height: 10%;
    }
    .second{
        height: 80%;
    }
    .footer{
        height: 10%;
    }
    .nav {
        width: 100%;
        height: 10%;
    }
    .xxx {
        width: 100%;
        height: 75%;
    }

    .bath_section {
        width: 60%;
        height: 25%;
    }
    .ad{
        width: 39%;
        height: 25%;
    }
    .types_of{
        width: 100%;
        height: 45%;
    }
    .related_products{
        width: 100%;
        height: 28%;
    }


    .small_container{
        position: relative;
        width: 100%;
        height: 14%;
        flex-direction: row;
        gap: 1%;
    }
.h50{
    width: 50%;
    height: 98%;
}

}